[Unit]
Description=LunchMoney Ingest Service (lmi-service)
After=network.target

[Service]
WorkingDirectory=%h/lmi-service
Environment=PYTHONUNBUFFERED=1
ExecStart=%h/lmi-service/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8080
Restart=on-failure
User=%i
Group=%i

[Install]
WantedBy=multi-user.target
